/* font-family: 'Indie Flower', cursive;
font-family: 'Amiri', serif; */

body {
  background-color: #cfd4c5;
  color: #464655;

}

.result {
  display: none;
}

#form-language-test {
  border: 4px solid #AAAAAA;
  padding: 20px;
  border-radius: 25px;
  background-color: #edf2f4;
}


.btn {

}

img {
  width: 50%;
  padding: 20px;
}

.result h1 {
  font-size: 86px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
