/* font-family: 'Indie Flower', cursive;
font-family: 'Amiri', serif; */

body {
  background-color: #bebbbb;
  color: #464655;
}

.notAnswered {
  color: red;  
}

.result {
  display: none;
}

#form-language-test {
  border-left: 4px solid #AAAAAA;
  padding: 20px;
  border-radius: 25px;
  background-color: #FBFEFB;
}


.btn {

}

img {
  width: 50%;
  padding: 20px;
}

.result h1 {
  font-size: 86px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #edf2f4;
}

.result p {
  font-family: 'Amiri', serif;
  color: #edf2f4;
}
