/* font-family: 'Indie Flower', cursive;
font-family: 'Amiri', serif; */

body {
  background-color: #bebbbb;
  color: #464655;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  padding: 20px;
  font-family: 'Indie Flower', cursive;
  line-height: 110px;
}

img {
  width: 50%;
  padding: 20px;
}

.notAnswered {
  color: red;
}

.result {
  display: none;
  padding-bottom: 90px;
}

.result h1 {
  font-size: 86px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #edf2f4;
  padding-bottom: 30px;
}

.result p {
  font-family: 'Amiri', serif;
  color: #edf2f4;
  font-size: 18px;
}

#form-language-test {
  border-left: 4px solid #AAAAAA;
  padding: 20px;
  border-radius: 25px;
  background-color: #FBFEFB;
}
